<div class="navbar-bottom-wrapper">
  <nav class="navbar-bottom">
    <ul> 
      <li class="icon" id="icon-left">
        <%= link_to appointments_path do %>
          <i class="fa-regular fa-calendar-days fa-2xl" style="color: #008000;"></i>
        <% end %>
      </li>
      <li class="icon">
        <%= link_to new_user_match_path do %> 
          <i class="fa-solid fa-gamepad fa-2xl" style="color: #008000;"></i>
        <% end%>
      </li> 
      <li class="icon" id="icon-right">
        <%= link_to chatrooms_index_path do %>
          <i class="fa-regular fa-comment fa-2xl" style="color: #008000;"></i>
        <% end %>
      </li>
    </ul>
  </nav>
</div>