<%# Just use one navbar for now %>

<nav class="navbar">
  <div class="navbar-left">
      <%= link_to chatrooms_path do %>
        <i class="fa-solid fa-angle-left"></i>
      <% end %>
      <% # add logic to show avatar and name of other user %>
  </div>
</nav>
