<div id="banner">
  <div class="baran-container">
    <h1>Welcome to Hobber!</h1>
    <p>Happy Nerds looking for Buddies</p>
  </div>
  <div class="buttons">
    <% unless user_signed_in? %>
      <%= link_to "Join Us", new_user_registration_path, class: " btn btn-primary Join-us-button" %>
    <% end %>
      <%= button_to "Sign In", destroy_user_session_path, class: "btn btn-light Sign-In-button", method: :delete, data: {turbo: false} %>
  </div>
</div>
