.chatroom-card {
    background-color: #ADC178;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 15px;
    color: black;
    width: 90%;
    padding-left: 20px;
    font-size: 16px;
}

.avatar-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.last-message {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
}

.chat-no-matches {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    width: 90%;
    text-align: center;
}

.fa-shield {
    margin-left: 300px;
    color: black;
}