.browse-navbar {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 390px;
    height: 54px;
    left: 0px;
    top: 47px;
    background-color: #FFBD00;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}