.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #FFBD00;
  }

  .navbar-left {
    display: flex;
    align-items: center;
  }

  .navbar-right {
    display: flex;
    align-items: center;
    position: relative;
  }


  .avatar-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .dropdown-menu {
    display: none;
  }

  .dropdown-menu.open {
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
  }

  .dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu ul li {
    margin-bottom: 10px;
  }

  .dropdown-menu ul li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
  }
