<% @reviews.each do |review| %>
  <div class="review">
    <div class="rating">
      <% review.rating.times do %>
        <i class="fa-solid fa-star"></i>
      <% end %>
      <% empty_stars = 5 - review.rating %>
      <% empty_stars.times do %>
        <i class="fa-regular fa-star"></i>
      <% end %>
    </div>
    <p><%= review.content %></p>
    <hr>
  </div>
<% end %>
